<%-include("./partials/header")-%>

<%-include("./partials/navbar")-%>

<div class="overlay"></div>
<div style="display: flex">
  <div>
    <div class="side">
      <div style=" width: 100%; height: 100vh;">
        <ul>
          <a href=<%= "/cell/dashboard?cell="+ cell %>><li>Mark Attendance</li></a>
          <a href=<%= "/cell/addmembers" %>><li>Add Member</li></a></a>
          <a href=<%= "/cell/members?cell="+ cell %>><li>Members</li></a> 
        </ul>
      </div>
    </div>
  </div>


  <div class="meeting-output" style="width: 100%; height: 500px;">
    <div style="font-size: 1.4em; padding: 10px; background: rgba(0, 0, 0, 0.404); color: white">
      <div class="bar" style="font-size: 40px;">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
      </div>
      <h2>Mark Attendance</h2>
    </div>

    <div class="p-4 text-center" style="width: 90%; border: 1px solid; background: steelblue; color: white; margin: 20px auto">
     <% if(users.length > 0) {  %>
      <h3>The attendance is for the last meeting that took place on</h3>  
      <h3><%= users[0].service[0].date %> which is a <%= users[0].service[0].meeting %></h3>
     <%} %>
      
    </div>

  <form action="/cell/submitattendance" method="post">
    <!-- <div class="container flex justify-center mx-auto">
        <div class="flex flex-col">
            <div class="w-full">
                <div class="border-b border-gray-200 shadow">
                    <table class="divide-y divide-gray-300 ">
                        <thead class="bg-gray-50">
                            <tr>
                                <th class="px-6 py-2 text-xs text-gray-500">
                                    Select
                                </th>
                                <th class="px-6 py-2 text-xs text-gray-500">
                                    Name
                                </th>
                                <th class="px-6 py-2 text-xs text-gray-500">
                                    Position
                                </th>
                                <th class="px-6 py-2 text-xs text-gray-500">
                                    Phone
                                </th>
                                <th class="px-6 py-2 text-xs text-gray-500">
                                  Comment
                              </th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-300">
                          <% users.forEach(ele =>{ %>
                          <tr class="whitespace-nowrap">
                                <td class="px-6 py-4 text-sm text-gray-500">
                                    <input type="checkbox" name="present" value=<%= ele._id %> id="">
                                </td>
              
                                  <td class="px-6 py-4">
                                      <div class="text-sm text-gray-900">
                                          <%= ele.name %>
                                      </div>
                                  </td>
                                  <td class="px-6 py-4">
                                      <div class="text-sm text-gray-500"><%= ele.position %></div>
                                  </td>
                                  <td class="px-6 py-4 text-sm text-gray-500">
                                    <%= "0"+ ele.phone %>
                                  </td>

                                  <td class="px-6 py-4" onClick="input()">
                                    <div class="text-sm text-gray-500">Comment</div>
                                </td>
              
                            </tr>
                          <% }) %>  
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div> -->
    
<div class="overflow-x-auto relative shadow-md sm:rounded-lg" style="padding: 20px">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="p-4">
                  <div class="flex items-center">
                     
                      <label for="checkbox-all">Select</label>
                  </div>
              </th>
              <th scope="col" class="py-3 px-6">
                  Name
              </th>
              <th scope="col" class="py-3 px-6">
                  Position
              </th>
              <th scope="col" class="py-3 px-6">
                  Phone
              </th>
              <th scope="col" class="py-3 px-6">
                 Comment
              </th>
 
          </tr>
      </thead>
      <tbody>
        <% users.forEach(ele =>{ %>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
              <td class="p-4 w-4">
                  <div class="flex items-center">
                      <input id="checkbox-table-1"  type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" name="present" value=<%= ele._id %>>
                      <label for="checkbox-table-1" class="sr-only">checkbox</label>
                  </div>
              </td>
              <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <%= ele.name %>
              </th>
              <td class="py-4 px-6">
                <%= ele.position %>
              </td>
              <td class="py-4 px-6">
                <%= "0"+ ele.phone %>
              </td>
              <td class="py-4 px-6">
                  <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Comment</a>
              </td>
          </tr> 
          <% }) %>  
      </tbody>
  </table>
</div>

      <input style="background: steelblue; width: 300px" type="submit" value="Submit" class="mt-5 rounded-md container flex justify-center mx-auto text-white p-2 bg-slate-500">
  
  </form>
      
  </div>
</div>

<script>

  const input = () =>{
    const input = prompt("Comment");
  }
  
</script>
 
 