<%-include("./partials/header")-%>

<%-include("./partials/navbar")-%>


<div style="display: flex">
  <div>
    <%-include("./partials/sidenav")-%>
  </div>


  <div class="meeting-output" style="width: 100%; height: 500px;">
    <div style="font-size: 1.4em; padding: 10px; background: rgba(0, 0, 0, 0.404); color: white">
      <h2>Mark Attendance</h2>
    </div>

    <div class="p-4 text-center" style="width: 400px; border: 1px solid; background: steelblue; color: white; margin: 20px auto">
      <h3>The attendance is for the last meeting that took place on</h3>
      
      <h3><%= users[0].service[0].date %> which is a <%= users[0].service[0].meeting %></h3>
    </div>

  <form action="/cell/Dunamis/submitattendance" method="post">
    <div class="container flex justify-center mx-auto">
        <div class="flex flex-col">
            <div class="w-full">
                <div class="border-b border-gray-200 shadow">
                    <table class="divide-y divide-gray-300 ">
                        <thead class="bg-gray-50">
                            <tr>
                                <th class="px-6 py-2 text-xs text-gray-500">
                                    Select
                                </th>
                                <th class="px-6 py-2 text-xs text-gray-500">
                                    Name
                                </th>
                                <th class="px-6 py-2 text-xs text-gray-500">
                                    Position
                                </th>
                                <th class="px-6 py-2 text-xs text-gray-500">
                                    Phone
                                </th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-300">
                          <% users.forEach(ele =>{ %>
                          <tr class="whitespace-nowrap">
                                <td class="px-6 py-4 text-sm text-gray-500">
                                    <input type="checkbox" name="present" value=<%= ele._id %> id="">
                                </td>
                                <td class="px-6 py-4">
                                    <div class="text-sm text-gray-900">
                                        <%= ele.name %>
                                    </div>
                                </td>
                                <td class="px-6 py-4">
                                    <div class="text-sm text-gray-500"><%= ele.position %></div>
                                </td>
                                <td class="px-6 py-4 text-sm text-gray-500">
                                  <%= "0"+ ele.phone %>
                                </td>
      
                            </tr>
                          <% }) %>  
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
      <input style="background: steelblue; width: 300px" type="submit" value="Submit" class="mt-5 rounded-md container flex justify-center mx-auto text-white p-2 bg-slate-500">
  
  </form>
      
  </div>
</div>


 
 