<%-include("./partials/header")-%>

<%-include("./partials/nav")-%>


<div style="display: flex;">
  <div>
    <%-include("./partials/sidenav")-%>
  </div>

  <div style="display: flex; flex-direction: column; width: 100%">
    <div class="bar" style="font-size: 40px;">=</div>
    <div class="mt-5" style="width: 100%; height: auto; padding: 20px 0px">
     <form class="date" action="/attendancelist" style="margin: 0px auto">
      <div style="padding: 10px; width: 100%">
        <div class="relative mb-4 w-full">
            <label for="date" class="leading-7 text-sm text-gray-600">Select Meeting Date to view Attendance</label>
            <input type="date" type="hidden" id="date" name="date" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            <input style="background-color: aqua;" type="submit"  value="Search Meeting" class=" mt-3 w-full bg-green-400 rounded border border-gray-300 text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
      </div>
      
     </form>
  </div>

  <% if(userAttendance.length > 0){ %>
<div class="overflow-x-auto relative shadow-md sm:rounded-lg" style="padding: 30px">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <caption class="p-5 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">
          Attendance List
          <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400"></p>
      </caption>
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="py-3 px-6">
                  Full Name
              </th>
              <th scope="col" class="py-3 px-6">
                  Cell
              </th>
              <th scope="col" class="py-3 px-6">
                  Role
              </th>
              <th scope="col" class="py-3 px-6">
                  Attendance
              </th>
          </tr>
      </thead>
      <tbody>
        <% userAttendance.forEach(ele =>{ %>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <%= ele.name %>
              </th>
              <td class="py-4 px-6">
                <%= ele.cell %>
              </td>
              <td class="py-4 px-6">
                <%= ele.position %>
              </td>
              <td class="py-4 px-6">
                <%= ele.service[0].present ? '/' : 'X' %>
              </td>
          </tr>
        <% }) %>
      </tbody>
  </table>
</div>

   <% }else{ %>
    <div class="flex p-4 mb-4 text-sm text-blue-700 bg-blue-100 rounded-lg dark:bg-blue-200 dark:text-blue-800" role="alert">
      <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
      <span class="sr-only">Info</span>
      <div>
        <span class="font-medium">Info alert!</span> Select a valid date to see attendance.
      </div>
    </div>    
  <% } %>
  </div>
</div>

<script>

</script>