<%-include("./partials/header")-%>

<%-include("./partials/nav")-%>


<div style="display: flex">
  <div>
    <%-include("./partials/sidenav")-%>
  </div>


  <div class="meeting-output" style="width: 100%; height: 500px;">
    <div style="font-size: 1.4em; padding: 10px; background: rgba(0, 0, 0, 0.404); color: white">
      <div class="bar" style="font-size: 40px;">=</div>
      <h2>Users</h2>
    </div>

    <% if(users.length > 0) { %>
      <div style="margin-top: 30px" class="container flex justify-center mx-auto">
        <div class="bar" style="font-size: 40px;">=</div>
        <div class="flex flex-col">
              <div class="w-full">
                  <div class="border-b border-gray-200 shadow">
                      <table class="divide-y divide-gray-300 ">
                          <thead class="bg-gray-50">
                              <tr>
                                  <th class="px-6 py-2 text-xs text-gray-500">
                                      Name
                                  </th>
                                  <th class="px-6 py-2 text-xs text-gray-500">
                                      Cell
                                  </th>
                                  <th class="px-6 py-2 text-xs text-gray-500">
                                      Role
                                  </th>
                                  <th class="px-6 py-2 text-xs text-gray-500">
                                      Email
                                  </th>
                                  <th class="px-6 py-2 text-xs text-gray-500">
                                      Phone
                                  </th>
                              </tr>
                          </thead>
                          <tbody class="bg-white divide-y divide-gray-300">
                            <% users.map(ele =>{ %> 
                            <tr class="whitespace-nowrap">
                                  <td class="px-6 py-4 text-sm text-gray-500">
                                    <%= ele.name%>
                                  </td>
                                  <td class="px-6 py-4">
                                      <div class="text-sm text-gray-900">
                                        <%= ele.cell%>
                                      </div>
                                  </td>
                                  <td class="px-6 py-4 text-sm text-gray-500">
                                    <%= ele.position%> 
                                  </td>
                                  <td class="px-6 py-4">
                                     <%=ele.email%> 
                                  </td>
                                  <td class="px-6 py-4">
                                   <%= ele.phone %> 
                                   </td>
                              </tr>
                            <%})%>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
    <%}%>
      
  </div>


</div>


 
 